*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: "Karla", sans-serif !important;
}

:root {
	--prim-color: #e82c2a;
	--seco-color: #000;
}

.bg-dark {
	background-color: var(--seco-color) !important;
}
.logo {
	max-width: 200px;
}

.btn-danger {
	background-color: var(--prim-color) !important;
	border-color: var(--prim-color);
}

.text-danger {
	color: var(--prim-color) !important;
}

.home {
	background-image: url("../images/hero_2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 75px 95px;
	min-height: 45vh;
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	color: #ffffff;
}

.container {
	width: 1100px;
	max-width: 90%;
	margin: 0 auto;
}

.header {
	text-transform: uppercase;
	font-size: calc(2vw + 3vh + 1vmin);
}

.subtext {
	font-size: calc(1vw + 1vh + 0.8vmin);
}

.highlight {
	color: var(--prim-color);
}

.input-box {
	padding: 1rem 2rem;
	border-radius: 0.2rem;
	border: none;
	max-width: 100%;
}

.btn-primary {
	color: #ffffff;
	background-color: var(--prim-color);
	padding: 1rem 2rem;
	border-radius: 0.2rem;
	cursor: pointer;
	border: none;
	max-width: 100%;
}
